{% extends "layout.html" %}

{% block body %}
    <style>
        p{
            padding:15px;
        }
        body form{
            padding: 15px;
        }
        h1{
            padding: 15px;
        }
    </style>
        <h1>About Z-hunt</h1>

        <p>    Z-hunt was developed to calculate the probability of Z-DNA formation based on free energy of a given DNA sequence.
        Energies are based on in vitro experiments to determine nucleotide to nucleotide interactions in either a syn or anti conformation.</br></br>
            Z-mhunt is an updated version of Z-hunt developed in 2020. Z-mhunt calculates exactly the same as Z-hunt while also incorporating methylation sites.
        Methylation energies are also based on in vitro experiments and are reflected in the overall z-score</p>
{% endblock %}

